@mixin pageParallax {
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

@mixin pageHeader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 0.5px 0.5px 0.5px #000;
}

@mixin maxWidth {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

/* Parallax Section for about.html */

.parallax_about {
    background-image: url("../images/about/embracing_newlyweds_bw1.jpg");
    @include pageParallax();
}

.about_header {
    @include pageHeader();
}

.about_section {
    background: rgba(217, 187, 180, 0.2);
    padding-bottom: 1rem;
}

.about_section h3 {
    padding-top: 1rem;
}

.about_section hr {
        width: 100px;
        border: 1px solid #d9bab3;
        margin: 0 auto 2rem;
}

.amethyst_section {
    background:rgba(217, 187, 180, 0);
    border: none;
    padding-top: 1rem;
    display: block;
    @include maxWidth();
}

.amethyst_section img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amethyst_section p {
    text-align: left;
}

#meet_team {
    display: block;
    @include maxWidth();
}

.dreamteam_section hr {
    width: 100px;
    border: 1px solid #d9bab3;
    margin: 1rem auto 1.8rem !important;
}

.dreamteam_section {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.dreamteam_listing hr {
    width: 100px;
    border: 1px solid #d9bab3;
    margin: 0 auto;
}

.dreamteam_listing {
    background: rgba(217, 187, 180, 0.2);
    border: none;
    margin: 2rem auto;
}

.dreamteam_listing p {
    font-size: 15px;
}

#meet_team {
    margin-bottom: 4rem;
}

.contact_team {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact_btn {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* Responsive Breakpoints */

@media only screen and (max-width: 576px) {

    .dreamteam_cards {
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
    }
  
  }
  