/* The code below is styling for portfolio_editorial.html */

/* Parallax Section for portfolio_editorial.html */

.parallax_editorial {
    background-image: url("../images/portfolio/editorial/model_behind_tree_overlay.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

.editorial_header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 0.5px 0.5px 0.5px #000;
        margin-right: auto;
        margin-left: auto;
        max-width: 960px;
}