/* Mixins */

@mixin pageParallax {
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

@mixin pageHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

/* Parallax Section for portfolio_engagements.html*/

.parallax_engagements {
    background-image: url("../images/portfolio/engagements/engaged_rednails_overlay.jpg");
    margin-bottom: 2rem;
    @include pageParallax();
    
}

.engagements_header {
    @include pageHeader();
}

/* Responsive Breakpoints */

@media only screen and (max-width: 576px) {
    .engagements_header h1 {
        font-size: 190%;
    }
}