/* Mixins */

@mixin pageParallax {
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

@mixin pageHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0.5px 0.5px 0.5px #000;
}

@mixin maxWidth {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}

/* Main Parallax section */

.parallax_services {
    background-image: url("../images/services/fall_bride_overlay.jpg");
    margin-bottom: 2rem;
    @include pageParallax();
}

.services_header {
    @include pageHeader();
}

/* Services details */

.breakdown_services {
    margin-top: 2rem;
    margin-bottom: 2.2rem;
    display: block;
    @include maxWidth();
}

.breakdown_services hr, .picture_style hr, .contact_intro hr {
    border: 1px solid #d9bab3;
    width: 100px;
    margin: 0 auto;
}

.service_description, .contact_description {
    margin-top: 2.7rem;
}

.service_description {
    text-align: left;
}

.picture_style {
    padding-top: 2rem;
    background:rgba(217, 187, 180, 0.2);
    padding-bottom: 2rem;
    
}

.picture_style h3 {
    font-size: 2.8rem;
    font-family: 'Holland', cursive;
    padding-bottom: 0.5rem;
}

.service_styles p {
    font-weight: 500;
    padding-top: 2rem;
    border: transparent;
    outline: none;
    font-size: 1.2rem;
    @include maxWidth();
    
}

.photo_styles {
    color: #d9bab3;
    font-size: 1rem;
    word-spacing: 5px;
}

/* Testimonial Section */

.testimonial {
    background-image: url(../images/services/newlyweds_embracing_lovingly1.jpg);
    min-height: 350px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Pricing Section */

.sessions {
    padding-top: 3rem;
}

.session_hr {
    border: 1px solid #d9bab3;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    
}

.pricing_section {
    @include maxWidth();
    padding-bottom: 2rem;
}

.pricing_deck {
    @include maxWidth();
    margin-bottom: 2rem;
}

.pricing_card {
    background: rgba(217, 187, 180, 0.2);
    border: none;
    padding-top: 1.2rem;
    margin-bottom: 1.8rem !important;
}

.card-subtitle {
    padding-bottom: 1rem;
}

.price {
    font-weight: 600;
    font-size: 2rem;
    margin: auto;
}

.per_hour {
    font-size: 1rem;
}

.pricing_deck ul {
    list-style: none;
    padding-top: 1rem;
}

.pricing_deck ul li {
    padding-top: 0.7rem;
}

.book_button {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}
