* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d;
}

@font-face {
    font-family: 'Holland';
    src: url('./fonts/holland-font/Holland.otf'); 
    src: url('./fonts/holland-font/Holland.ttf');
    src: url('./fonts/holland-font/Holland.woff');
    src: url('./fonts/holland-font/Holland.woff2');
    font-weight: normal;
    font-style: normal;
}

.display-4 {
    font-size: 6.5rem;
    font-family: 'Holland', cursive;
}

.section_heading h2, .breakdown_services h3, .sessions, .about_section h3, .dreamteam_section h3 {
    font-family: 'Holland', cursive;
    font-weight: 900;
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
}

.section_heading {
    padding-bottom: 3.5rem;
}

/* Navigation styling */

.navbar {
    padding: 0.8rem;
}

.navbar-brand img {
    width: 300px;
    padding-left: 3rem;
}

.company_name {
    font-weight: bold;
}

.navbar-nav li {
    padding-right: 1.3rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav  .nav-link:hover {
    color: #f5a599;
}

.nav-link, .dropdown-item {
    font-size: 1rem !important;
}

.navbar-toggler {
    border: none;
}

.dropdown-menu {
    border: none;
}

.dropdown-menu a:hover {
    background-color: #ffddd7;
}


/* Carousel styling */
.carousel {
    margin-top: 4rem;
}

/* Styling for divs with 'Padding' class */

.padding {
    padding-top: 3rem;
    padding-bottom: 4rem;
}


/* General primary button styling */

.btn-primary {
    background-color: #eb688a;
    color: #fff !important;
    border: 1px solid #eb688a;
    text-transform: uppercase;
    padding: 0.7rem 1.3rem 0.7rem 1.3rem;
}

.btn-primary:hover {
    background-color: #ff2f67;
    color: #fff !important;
    border: 1px solid #ff2f67;
}

.package_btn {
    margin-bottom: 0.7rem;
}

/* Introduction section styling */

.intro {
    background: #faf1f0;
}

.intro_heading h1 {
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.intro_content {
    padding-left: 4rem;
    padding-right: 4rem;
}

.intro hr {
    border: 1px solid #f5a599;
    width: 100px;
    margin: 0 auto;
}

.intro_text {
    padding-top: 2rem;
}

.btn-outline-secondary {
    text-transform: uppercase;
    margin-top: 1.7rem;
    padding: 0.6rem 1rem;
}

.btn-outline-secondary:hover {
    background: #eb688a;
    color: #fff;
    border: none;
}

/* Portfolio section styling in index.html */

.portfolio_section hr, .instagram_section hr  {
    border: 1px solid #f5a599;
    width: 100px;
    margin: 0 auto;
}

.card-deck {
    padding-left: 3rem;
    padding-right: 3rem;
}

.card-deck a {
    color: #4d4d4d;
    text-decoration: none;
}

.card {
    border: none;
}

.card a:hover {
    color: #f5a599;
}

.card-img-top:hover {
    filter: brightness(110%);
}

.card-title {
    text-transform: uppercase;
    padding-top: 1rem;
}

/* Parallax styling on index.html */

.parallax {
    background-image: url(../images/parallax/necklace.jpg);
    height: 450px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    background: rgba(20, 20, 20, 0.35);
    height: 100%;
}

#quote_section i {
    font-size: 3.5rem;
    padding-bottom: 1.7rem;
    padding-top: 5rem;
    color: #fff;
    opacity: 0.7;
}

.parallax_text p {
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.quote_source {
    font-style: italic;
}

/* Instagram section styling */

.instagram_section {
    padding: 3.5rem 5rem;
}

.insta_post:hover {
    filter: brightness(110%);
}

  /* Footer styling */

footer {
    background-color: #ffe9e6;
    color: #6d6b6b;
    padding-top: 2.3rem;
    padding-bottom: 0.5rem;
}

footer p {
    font-size: 0.75rem;
}

footer a {
    text-decoration: none;
    color: #6d6b6b;
}

footer a:hover {
    text-decoration: none;
    color: #eb688a;
}

.social {
    padding-top: 0.3rem;
    padding-bottom: 1.2rem;
}

.fa-instagram, .fa-facebook-f, .fa-pinterest-p, .fa-twitter {
    font-size: 1.4rem;
    padding: 0.8rem;
}

.footer_contact {
    line-height: 1.9;
    text-align: justify;
    padding-left: 3.8rem;
}

.fa-envelope, .fa-phone-alt, .fa-map-marker-alt {
    font-size: 0.8rem;
    color: #eb688a;
    padding-right: 1.5rem;
}

.bottom_footer {
    background-color: #ffe9e6;
    color: #6d6b6b;
}

.bottom_footer p {
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}


/* Responsive Breakpoints for index.html */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {

    .navbar-brand img {
        width: 210px;
        padding-left: 1rem;
    }

    .navbar {
        padding: 0.5rem;
    }

    .padding {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .intro {
        padding-top: 3rem;
    }

    .intro h2 {
        font-size: 170%;
    }

    .intro h4 {
        font-size: 120%;
    }

    .intro_content {
        padding-left: 2em;
        padding-right: 2em;
    }

    .intro_heading {
        padding-bottom: 1.8rem;
    }

    .intro_text {
        font-size: 110%;
        padding-top: 0;
    }

    .btn-outline-secondary {
        margin-top: 1.1rem;
        padding: 0.5rem 1rem;
    }

    .section_heading {
        padding-bottom: 3.3rem;
    }

    .parallax {
        background-position: left;
    }

    #quote_section i {
        font-size: 1.5rem;
        margin-top: 2.5rem;
        padding-bottom: 1rem;
    }
    
    .parallax_text p {
        font-size: 100%;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .instagram_section {
        padding: 2rem;
    }

    .bottom_footer p {
        width: 93%;
        margin: auto;
    }

/* Extra small devices styling for services.html */

.testimonial_body img {
    width: 90%;
}

.testimonial_text {
    text-align: center !important;
}

.pricing_deck {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 4rem;
}

}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {    
     
    .services_card {
    padding-bottom: 1.5rem;
    }

    .parallax_text {
        font-size: 1.3rem;
    }

/* Small devices styling for services.html */

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .services_card {
        padding-bottom: 1.5rem;
    }

 }

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { ... }


/* The code below is styling for services.html */

/* Parallax styling */

.parallax_services {
    background-image: url("../images/services/groom_embracing_bride.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.services_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

/* services.html styling */

.breakdown_services {
    margin-top: 3.5rem;
    margin-bottom: 2.2rem;
    width: 85%;
}

.breakdown_services hr {
    border: 1px solid #f5a599;
    width: 100px;
    margin: 0 auto;
}

.service_description {
    margin-top: 2.7rem;
}

.service_styles {
    font-weight: 600;
    padding-top: 1rem;
}

.photo_styles {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #f5a599;
}

/* Testimonial styling */

.testimonial {
    background: #faf1f0;
    width: 100%;
}

.testimonial_body {
    background: #faf1f0;
}

.testimonial_body img {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.testimonial_quotations {
    opacity: 0.6;
}

.testimonial_text {
   text-align: left; 
}

/* Pricing section styling */

.sessions {
    padding-top: 3rem;
}

.session_hr {
    border: 1px solid #f5a599;
    width: 100px;
    margin: 0 auto;
}

.pricing_heading {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.pricing_deck {
    padding-right: 1rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
}

.pricing_card {
    border: 1px solid #eb688a;
}

.card_padding {
    margin-bottom: 2rem;
}

.price {
    color: #eb688a;
    font-weight: 900;
    font-size: 2rem;
}

.per_hour {
    font-size: 1rem;
}

.pricing_deck ul {
    list-style: none;
}

.pricing_deck ul li {
    padding-top: 1.5rem;
}

.book_button {
    margin-top: 1.3rem;
    margin-bottom: 1.3rem;
}

/* The code below is styling for portfolio_weddings.html */

/* Parallax styling */

.parallax_weddings {
    background-image: url("../images/portfolio/weddings/kiss_field.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.weddings_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

/* Gallery styling */


#gallery_section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 4rem;
  }

  #gallery_section img:hover {
      cursor: pointer;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .column img:hover {
    filter: brightness(110%);
  }

  /* Responsive layout for galleries - makes a two column-layout instead of four columns */
  @media only screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout for galleries - makes the two columns stack on top of each other instead of next to each other */
  @media only screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

/* The code below is styling for portfolio_engagements.html */

/* Parallax styling */

.parallax_engagements {
    background-image: url("../images/portfolio/engagements/engaged_rednails.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.engagements_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

/* The code below is styling for portfolio_editorial.html */

/* Parallax styling */

.parallax_editorial {
    background-image: url("../images/portfolio/editorial/model_behind_tree.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.editorial_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

/* The code below is styling for about.html */

/* Parallax styling */

.parallax_about {
    background-image: url("../images/about/peach_rose.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

.about_section {
    background: #faf1f0;
    padding: 3.5rem 5rem 2.5rem 6rem;  
}

.about_section img {
    padding: 1.5rem;
}

.about_section h3 {
    padding: 0;
}

.about_section hr, .dreamteam_section hr {
        width: 100px;
        border: 1px solid #f5a599;
        margin: 0 auto 3rem;
}

.dreamteam_section {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.dreamteam_listing hr {
    width: 100px;
        border: 1px solid #f5a599;
        margin: 0 auto 1rem;
}

.dreamteam_listing {
    background: #faf1f0;
    padding: 1.5rem;
}

#meet_team {
    margin-bottom: 4rem;
}

.contact_team {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact_btn {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* The code below is styling for contact.html */

/* Parallax styling */

.parallax_contact {
    background-image: url("../images/contact/bouquet_diamonds.jpg");
    min-height: 500px; 
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_header {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        text-shadow: 1px 1px 1px #000;
}

.contact_section {
    margin-top: 6rem;

}

.contact_section a {
    color: #f37c6a !important;
    text-decoration: none;
}

.form-control {
    margin-bottom: 1.5rem;
}

.address_section {
    margin-bottom: 3rem;
}