

/* Parallax styling */

.parallax {
    background-image: url("/images/parallax/smiles.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }